.sidebar {
  width: 200px;
  background: #F0F0F0;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: fixed; /* Fix the sidebar to the left */
  top: 60px; /* Set top position for the sidebar */
  left: 0;
  height: 100vh; /* Ensure full height */
  overflow-y: auto; /* Allow scrolling if the content exceeds the height */
}

.nav-button {
  background-color: #334D5C; /* Slightly darker grey */
  color: white; /* Black text */
  border: none;
  padding: 10px 15px;
  text-align: left;
  margin-top: 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.nav-button:hover {
  background-color: #b0b0b0;
  transform: translateX(5px);
}

.nav-button:focus {
  outline: none;
  box-shadow: 0 0 5px #888;
}

:host {
  display: block;
  position: fixed; /* Fixes the sidebar */
  top: 60px; /* Adjust as necessary */
  left: 0;
  width: 200px; /* Adjust the width of the sidebar */
  height: 100vh; /* Full height for the sidebar */
  background: #F0F0F0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}
