<form (ngSubmit)="onSubmit(addForm)" #addForm="ngForm">
    <div class="form-group">
      <label for="name">Entity</label>
      <select [(ngModel)]="location.entity" name = "entity">
        <option *ngFor="let key of keys" [value]="key">
          {{ enitiyDropdownValues[key] }}
        </option>
      </select>
    </div>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="location_name" name="location_name" [(ngModel)]="location.location_name" required #name="ngModel">
    </div>
    <div class="form-group">
        <label for="name">Entity</label>
        <select [(ngModel)]="location.state" name = "state">
          <option *ngFor="let key of state_keys" [value]="key">
            {{ states[key] }}
          </option>
        </select>
      </div>
    <button type="submit" [disabled]="addForm.invalid">Submit</button>
</form>
  