<form (ngSubmit)="onSubmit(addForm)" #addForm="ngForm">
    <div class="form-group">
      <label for="name">Entity</label>
      <select [(ngModel)]="work_order.contractor" name = "contractor">
        <option *ngFor="let key of keys" [value]="key">
          {{ contartorDropdownValues[key] }}
        </option>
      </select>
      <div *ngFor="let location of work_order.locations; let i = index" class="row">
        <select [(ngModel)]="location.location" name="location-{{i}}">
          <option *ngFor="let key of location_keys" [value]="key">
            {{ locationDropdownValues[key] }}
          </option>
        </select>
      
        <input
          type="text"
          [(ngModel)]="location.payment_terms"
          placeholder="Payment terms"
          name="payment_terms-{{i}}"
        />
      
        <input
          type="date"
          [(ngModel)]="location.due_date"
          placeholder="due date"
          name="dute_date-{{i}}"
        />
      
        <button (click)="removeContractor(i)">Remove</button>
      </div>
      
      <button (click)="addContractor()">Add</button>
      
      
    </div>


    <button type="submit" [disabled]="addForm.invalid">Submit</button>
</form>
  