.main-layout {
  
  height: 100vh; /* Full viewport height */
}

.content {
  margin-left: 500px;
  flex-grow: 1;
  background-color: #ffffff; /* White background for content area */
  overflow-y: auto; /* Scroll if content overflows */
  font-family: 'Arial', sans-serif;
}
